######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Projects/Rubiks Cube Solver/rubik.mov
Projects/Koolman Memory Game/Screen Recording 2021-11-23 at 2.59.22 PM.mov
Projects/Koolman Memory Game/ezgif-2-b8cc17a686b1.gif
