body, html {
  height: 100%;
  margin: 0;
}

#image { 
  width: 100%;
  height: 100%;
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#top-bar {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10000;
  width: 100%;
  max-height: 10%;
  height: 4%;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
}

.start-tour-button {
  height: 100%;
  width: 30%;
  min-width: 100px;
  font-size: 12px!important;
    
  text-align: center;
  display:table-cell;
  vertical-align:middle;
}

#area-description-ui {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  height: auto;
  width: 20%;
  max-width: 30%;
  padding: 20px;
  z-index: 100;
  background-color: black;
  color: white;
  margin: 0;
}

#desc-btn-row {
  display: flex;
  justify-content: space-around;
}

.hide {
    display: none;
}

.blur {
    opacity: 0.5;
    /* filter: blur(5px); */
}

.area {
  overflow: hidden;
  /* margin-bottom: 20px; */
  position: relative;
}

/* area div hover cursor */
.area_cursor {
  cursor: crosshair;
}

/* img tag in area div */
.area IMG {
  display: block;
  max-width: 100%;
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
  /* top: 0; */

  /* left: 0; */
  z-index: -1;
  opacity: 1;
  
}

/* rectangle div in area div */
.area .rect {
  opacity: 0;
  transition: all 0s ease;
  position: absolute;
  border: 1px solid red;
  z-index: 100;
}

/* rectangle div css when in draw or drawn mode */
.area.draw .rect,
.area.drawn .rect {
  opacity: 1;
}

/* below css is for fun rendering outer exclusion area of drawn rectangle div with a opaque overlay */

/* rectange exclusing pseudo elems base css */
.area.drawn .rect .exclusion-x::before,
.area.drawn .rect .exclusion-x::after,
.area.drawn .rect .exclusion-y::before,
.area.drawn .rect .exclusion-y::after {
  position: absolute;
  content: '';
  display: block;
  background: black;
  opacity: 0.75;
  /* filter: blur(20px); */
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

/* rectange outer opaque x above css */
.area.drawn .rect .exclusion-x::before {
  bottom: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  height: 200vh;
  width: 200vw;
}

/* rectange outer opaque x below css */
.area.drawn .rect .exclusion-x::after {
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  height: 200vh;
  width: 200vw;
}

/* rectange outer opaque y left css */
.area.drawn .rect .exclusion-y::before {
  right: calc(100% + 1px);
  top: -1px;
  bottom: -1px;
  width: 200vw;
}

/* rectange outer opaque y right css */
.area.drawn .rect .exclusion-y::after {
  left: calc(100% + 1px);
  top: -1px;
  bottom: -1px;
  width: 200vw;
}